
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <ul>
  <li>
    <a href="#">
      <i class="fab fa-facebook-f icon"></i>    </a>
  </li>
  <li>
    <a href="#"><i class="fab fa-twitter icon"></i></a>
  </li>
  <li>
    <a href="#"><i class="fab fa-linkedin-in icon"></i></a></li>
  <li>
    <a href="#"><i class="fab fa-google-plus-g icon"></i></a></li>
</ul>
    <p>Made with ❤️ by ygal</p>
  </div>
</div>
</body>
</html>
