<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <nav class="navbar navbar-default">
    <div class="overlay"></div>

  <!-- The HTML5 video element that will create the background video on the header -->
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <div class="navbar-header">
            <h1 class="display-3">Video Header</h1>
        <p class="lead mb-0">Using HTML5 Video and Bootstrap</p>
            <p class="navbar-brand">DAILY JOURNAL</p>
            <ul class="nav navbar-nav navbar-right">
         <li id="home"><a href="/"><h1 class="display-3">HOME</h1></a></li>
         <li id="about"><a href="/about"><h1 class="display-3">ABOUT US</h1></a></li>
         <li id="contact"><a href="/contact"><h1 class="display-3">CONTACT US</h1></a></li>
         <li id="compose"><a href="/compose"><h1 class="display-3">COMPOSE</h1></a></li>
       </ul>
            <p>
              <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
              <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
            </p>
          </div>
        </div>
      </div>
    </div>


  </nav>

  <body>
    <div class="container">
