html {
  min-height: 100%;
  position: relative;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-default  video {
  position: absolute;
padding-top: 59px;
padding-bottom: 4px;
top: 120%;
left: 59%;
min-width: 57%;
min-height: 181%;
width: 22%;
height: 115%;
z-index: 1;
-ms-transform: translateX(-50%) translateY(-50%);
-moz-transform: translateX(-50%) translateY(-50%);
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-67%) translateY(-110%);
}

.navbar-default .container {
  position: relative;
  z-index: 2;
}
.navbar-default .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: wheat;
  opacity: 0.5;
  z-index: 1;
}

.navbar-default  li a:hover {
    color: #1abc9c !important;
}
@media (pointer: coarse) and (hover: none) {
.navbar-default {
  position: relative;
  z-index: 2;
  background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  border-color: #e7e7e7;
   }
.navbar-default video {
  display: none;
 }
}
.navbar-default .navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 91px;
    line-height: 20px;
}
.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: Fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
.footIcon {
  display: flex;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.footIcon li {
  list-style: none;
}

.footIcon li a {
  width: 40px;
  height: 40px;
  background-color: #fff;
  text-align: right;
  line-height: 40px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.footIcon li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

.footIcon li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.footIcon li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.footIcon li a:hover:before {
  top: 0;
}

.foot li:nth-child(1) a:before{
  background: #3b5999;
}

.footIcon li:nth-child(2) a:before{
  background: #55acee;
}

.footIcon li:nth-child(3) a:before {
  background: #0077b5;
}

.footIcon li:nth-child(4) a:before {
  background: #dd4b39;
}

.header{
position: fixed; 
width: 1341px;
height: 230px;

}




.login-form {
    width: 340px;
    margin: -9px -8.5px;
  	font-size: 15px;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.login-form .hint-text {
    color: #777;
    padding-bottom: 15px;
    text-align: center;
  	font-size: 13px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.login-btn {
    font-size: 15px;
    font-weight: bold;
}
.or-seperator {
    margin: 20px 0 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}
.or-seperator i {
    padding: 0 10px;
    background: #f7f7f7;
    position: relative;
    top: -11px;
    z-index: 1;
}
.social-btn .btn {
    margin: 10px 0;
    font-size: 15px;
    text-align: left;
    line-height: 24px;
}
.social-btn .btn i {
    float: left;
    margin: 4px 15px  0 5px;
    min-width: 15px;
}
.input-group-addon .fa{
    font-size: 18px;
}

.form-control textarea {
    height: 73px;
}
.btn-block {
    display: block;
    width: 103%;
    padding-right: 0;
    padding-left: 0;
    background-color: #008dff;
}
